@import "tailwindcss";

.home-header-container {
    height: 80px;
    width: 100%;
    padding: 0 3%;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        font-family: 'Poppins', sans-serif;

        .home-header-left {
            display: flex;
            align-items: center;
            width: 25%;

            .header-logo {
                background: url('../../assets/logo.png') center center no-repeat;
                height: 100%;
                width: 80%;
                cursor: pointer;
            }

            .menu {
                font-size: 30px;
                margin-right: 7%;
                cursor: pointer;
            }
        }

        .home-header-center {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .category {
                font-size: 18px;
                color: #123826;

                .sub-titles {
                    font-weight: 500;
                    font-size: 12px
                }
            }
        }

        .home-header-right {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                font-size: 12px;
                color: #123826;
            }

            .support {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline: 20%;
                cursor: pointer;

                .support-icon {
                    font-size: 28px;
                }
            }

            .user-profile {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20%;

                .user-icon {
                    font-size: 28px;
                }
            }

            .log-out {

                .log-out-icon {
                    font-size: 28px;
                    cursor: pointer;
                }
            }
        }

    }
}
